<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">

	<sql id="search">
		<if test='searchKey=="id"'>
		AND INSTR(ID, #{searchWord}) > 0
		</if>
		<if test='searchKey=="phone"'>
		AND INSTR(PHONE, #{searchWord}) > 0
		</if>
		<if test='searchKey=="email"'>
		AND INSTR(EMAIL, #{searchWord}) > 0
		</if>
		<if test='searchKey=="name"'>
		AND INSTR(NAME, #{searchWord}) > 0
		</if>
	</sql>
	
	<select id="getMemberListPage" parameterType="kr.or.ddit.util.SearchCriteria"
			resultType="kr.or.ddit.member.vo.MemberDTO"
			resultSetType="SCROLL_INSENSITIVE">
		SELECT

		ID,          PWD,     EMAIL,
		PICTURE,     ENABLED, REGDATE,
		PHONE,       NAME,    REGISTER,
		ADDRESS,     AUTHORITY

		FROM	MEMBER
		WHERE	1=1
		<include refid="search"></include>
	</select>
	
	<select id="getMemberListCount" parameterType="kr.or.ddit.util.SearchCriteria"
			resultType="int">
		SELECT
		COUNT(*)
		FROM
		MEMBER
		WHERE 1 = 1
 		<include refid="search"></include>
	
	</select>
	
<!-- 	<select id="getMemberListPage" parameterType="kr.or.ddit.util.Criteria"
			resultType="kr.or.ddit.member.vo.MemberDTO"
			resultSetType="SCROLL_INSENSITIVE">
		SELECT

		ID,          PWD,     EMAIL,
		PICTURE,     ENABLED, REGDATE,
		PHONE,       NAME,    REGISTER,
		ADDRESS,     AUTHORITY

		FROM
		MEMBER
		WHERE
		1=1
		<if test='searchKey=="id"'>
		AND INSTR(ID, #{searchWord}) > 0
		</if>
		<if test='searchKey=="phone"'>
		AND INSTR(PHONE, #{searchWord}) > 0
		</if>
		<if test='searchKey=="email"'>
		AND INSTR(EMAIL, #{searchWord}) > 0
		</if>
		<if test='searchKey=="name"'>
		AND INSTR(NAME, #{searchWord}) > 0
		</if>
		
	</select> -->

	<!-- <select id="getMemberListCount" parameterType="kr.or.ddit.util.Criteria"
			resultType="int">
		SELECT
		COUNT(*)
		FROM
		MEMBER
		WHERE 1 = 1
 		<if test='searchKey=="id"'>
 			AND INSTR(ID, #{searchWord}) > 0 
 		</if>
 		<if test='searchKey=="name"'>
 			AND INSTR(NAME, #{searchWord}) > 0 
 		</if>
 		<if test='searchKey=="email"'>
 			AND INSTR(EMAIL, #{searchWord}) > 0 
 		</if>
 		<if test='searchKey=="phone"'>
 			AND INSTR(PHONE, #{searchWord}) > 0 
 		</if>	
	
	</select> -->

	<select id="getMember" parameterType="String"
			resultType="kr.or.ddit.member.vo.MemberDTO">
		SELECT *
		  FROM MEMBER
		 WHERE ID = #{id}			
	</select>
	
	<insert id="registerMember" parameterType="kr.or.ddit.member.vo.MemberDTO">
		INSERT  INTO MEMBER
		        (ID,        PWD,        EMAIL,
		         PHONE,      NAME,      ADDRESS,
		         AUTHORITY,		ENABLED,	REGISTER,
		         REGDATE)
		VALUES  (#{id},          #{pwd},      #{email},
		         #{phone},    #{name},        #{address},
		         #{authority},	#{enabled},	#{register},
		         #{regdate})		
	</insert>
	
	<update id="updateMember" parameterType="kr.or.ddit.member.vo.MemberDTO">
		UPDATE MEMBER
		   SET PWD      = #{pwd},
		       EMAIL    = #{email}, 
		       PHONE    = #{phone},
		       NAME     = #{name},
		       ADDRESS  = #{address},
		       AUTHORITY = #{authority},
		       ENABLED = #{enabled},
		       REGDATE = #{regdate}
		 WHERE ID = #{id}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM MEMBER
		 WHERE ID = #{id}		
	</delete>
	
	<select id="searchMemberList" parameterType="kr.or.ddit.member.vo.PagingVO" resultType="kr.or.ddit.member.vo.MemberDTO">
		
		SELECT AA.ID,          AA.PWD,     AA.EMAIL,
		       AA.PICTURE,     AA.ENABLED, AA.REGDATE,
		       AA.PHONE,       AA.NAME,    AA.REGISTER,
		       AA.ADDRESS,     AA.AUTHORITY
		  FROM (SELECT A.*, ROWNUM AS RNUM
		  		  FROM (SELECT * 
		  	 	  		  FROM MEMBER
		 		 		 WHERE 1 = 1
		 		<if test='searchKey=="id"'>
		 			AND INSTR(ID, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="name"'>
		 			AND INSTR(NAME, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="email"'>
		 			AND INSTR(EMAIL, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="phone"'>
		 			AND INSTR(PHONE, #{searchWord}) > 0 
		 		</if>
		        ) A	) AA
		 WHERE RNUM BETWEEN #{firstRecNo} AND #{lastRecNo}
	</select>
	
	<select id="getSearchCount" parameterType="kr.or.ddit.member.vo.PagingVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE 1 = 1
		 		<if test='searchKey=="id"'>
		 			AND INSTR(ID, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="name"'>
		 			AND INSTR(NAME, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="email"'>
		 			AND INSTR(EMAIL, #{searchWord}) > 0 
		 		</if>
		 		<if test='searchKey=="phone"'>
		 			AND INSTR(PHONE, #{searchWord}) > 0 
		 		</if>
	</select>
	
	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE ID = #{id}	
	</select>


    

</mapper>
