<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletTest</display-name>
	<servlet>
        <servlet-name>T01_ServletLifeCycle</servlet-name> <!--Alias 설정, 정식명칭(클래스)kr.or.ddit.basic.T01~을 이렇게 부르겠다. 이 이름을 tomcat에게 알려주고 있는 부분-->
		<servlet-class>kr.or.ddit.basic.T01_ServletLifeCycle</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
    <servlet-mapping><!--만약 url 상에서 T01_ServletLifeCycle을 찾으면 위에서 설정한 서블릿 네임인(alias) T01_~으로 매핑한다
    결국 축약어의 원본인 kr.or.ddit.basic.~인 클래스가 연결되게 됨-->
		<servlet-name>T01_ServletLifeCycle</servlet-name>
		<url-pattern>/T01_ServletLifeCycle</url-pattern>
	</servlet-mapping>  

	<servlet>
        <servlet-name>T02_ServletTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T02_ServletTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T02_ServletTest</servlet-name>
		<url-pattern>/T02_ServletTest</url-pattern>
	</servlet-mapping>  

	<servlet>
        <servlet-name>T03_ServletParameterTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T03_ServletParameterTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T03_ServletParameterTest</servlet-name>
		<url-pattern>/T03_ServletParameterTest</url-pattern>
	</servlet-mapping>  

	<servlet>
        <servlet-name>T04_ErrorHandler</servlet-name>
		<servlet-class>kr.or.ddit.basic.T04_ErrorHandler</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T04_ErrorHandler</servlet-name>
		<url-pattern>/T04_ErrorHandler</url-pattern>
	</servlet-mapping>  

    <servlet>
        <servlet-name>T05_ServletCookieTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T05_ServletCookieTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T05_ServletCookieTest</servlet-name>
		<url-pattern>/T05_ServletCookieTest</url-pattern>
	</servlet-mapping>  
	
    <servlet>
        <servlet-name>T06_ServletSessionTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T06_ServletSessionTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T06_ServletSessionTest</servlet-name>
		<url-pattern>/T06_ServletSessionTest</url-pattern>
	</servlet-mapping>  

    <servlet>
        <servlet-name>T07_ServletContextTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T07_ServletContextTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T07_ServletContextTest</servlet-name>
		<url-pattern>/T07_ServletContextTest</url-pattern>
	</servlet-mapping>  
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/T04_ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/T04_ErrorHandler</location>
    </error-page>

    <!--
        URL-Mapping에 대하여...
        1. /로 시작... *로 끝남 => 경로 매핑용
        2. *로 시작             => 확장자 매핑용
        3. /                    => 기본서블릿 매핑
        4. 이외 나머지 규칙은 정확한 매핑을 위해 사용됨

        => 매핑이 존재하지 않으면 톰캣의 기본 서블릿인 default 서블릿이 처리함.
    -->
    <!-- 
    <filter>
        <filter-name>T08_ServletFilter</filter-name>
        <filter-class>kr.or.ddit.basic.T08_ServletFilter</filter-class>
        <init-param>
            <param-name>init-param</param-name>
            <param-value>asdf</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>T08_ServletFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>T09_ServletFilter</filter-name>
        <filter-class>kr.or.ddit.basic.T09_ServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>T09_ServletFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
     -->

    <filter>
        <filter-name>CustomCharacterEncoding</filter-name>
        <filter-class>kr.or.ddit.cmm.filter.CustomCharacterEncoding</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CustomCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     
    <filter>
        <filter-name>MultipartParser</filter-name>
        <filter-class>kr.or.ddit.cmm.filter.MultipartParser</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MultipartParser</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>T10_ServletRequestListenerTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T10_ServletRequestListenerTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T10_ServletRequestListenerTest</servlet-name>
		<url-pattern>/T10_ServletRequestListenerTest</url-pattern>
	</servlet-mapping>  
    
    <listener>
        <listener-class>kr.or.ddit.basic.MyServletRequestListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>kr.or.ddit.basic.MyHttpSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>kr.or.ddit.basic.MyServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>T11_HttpSessionListenerTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T11_HttpSessionListenerTest</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>T11_HttpSessionListenerTest</servlet-name>
		<url-pattern>/T11_HttpSessionListenerTest</url-pattern>
	</servlet-mapping>  

  <servlet>
        <servlet-name>T12_ServletContextListenerTest</servlet-name>
		<servlet-class>kr.or.ddit.basic.T12_ServletContextListenerTest</servlet-class>
	</servlet>

  <servlet-mapping>
		<servlet-name>T12_ServletContextListenerTest</servlet-name>
		<url-pattern>/T12_ServletContextListenerTest</url-pattern>
	</servlet-mapping>  

  <servlet>
        <servlet-name>MyImageServlet</servlet-name>
		<servlet-class>kr.or.ddit.basic.MyImageServlet</servlet-class>
	</servlet>

  <servlet-mapping>
		<servlet-name>MyImageServlet</servlet-name>
		<url-pattern>/MyImageServlet</url-pattern>
	</servlet-mapping>  
</web-app>
