<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>kr.or.ddit.controller.common.IndexServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteMember</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.DeleteMember</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteMember</servlet-name>
		<url-pattern>/member/remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdCheck</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.IdCheck</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdCheck</servlet-name>
		<url-pattern>/member/idCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DetailMember</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.DetailMember</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DetailMember</servlet-name>
		<url-pattern>/member/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListMember</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.ListMember</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListMember</servlet-name>
		<url-pattern>/member/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterMember</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.RegisterMember</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegisterMember</servlet-name>
		<url-pattern>/member/regist</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateMember</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.UpdateMember</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateMember</servlet-name>
		<url-pattern>/member/modify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<servlet-class>kr.or.ddit.member.controller.SendMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/member/message</url-pattern>
	</servlet-mapping>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
