@charset "UTF-8";
body{
  background-color: rgb(243, 241, 233);
}
label{
  display: block;
  margin-left: 260px;
  text-decoration: underline;
  color: red;
}
table{
  border-collapse: collapse;
  padding: 10px;
  margin: 5px;
  text-align: center;
}